---
- name: SMB service
  become: yes
  arensb.truenas.service:
    name: cifs
    enabled: yes
    state: started

- name: User for Mac backups
  become: yes
  arensb.truenas.user:
    name: "{{ backup_user }}"
    password: "{{ backup_user_passwd }}"
    create_group: yes
    home: "{{ homes_dir }}/{{ backup_user }}"
    comment: "Mac Time Machine backups"
    smb: yes

- name: Filesystem for backups
  become: yes
  arensb.truenas.filesystem:
    comments: "Mac Time Machine backups"
    name: "{{ vol_pool }}/{{ vol_name }}"
    type: filesystem

# XXX - By default, SMB shares are very very open. Ought to default to
# only allowing backup_user to write here. Would also be nice to allow
# the caller to specify permissions. What's the best way to do this?

- name: SMB export
  become: yes
  arensb.truenas.sharing_smb:
    name: "{{ vol_name }}"
    comment: "Time Machine backups"
    path: "/mnt/{{ vol_pool }}/{{ vol_name }}"
    enabled: yes
    browsable: yes
    purpose: ENHANCED_TIMEMACHINE
    timemachine: yes
    acl: yes
    apple_encoding: yes
    hostsallow: "{{ allow_hosts }}"
    hostsdeny: "{{ deny_hosts }}"
